Package: com.yourcompany.opendismiss
Name: OpenDismiss
Depends: mobilesubstrate, com.zimm.libdisplaystack | firmware (>= 6.0)
Version: 0.0.1-5
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: theiostream
Author: theiostream
Section: Tweaks
Installed-Size: 32
