Package: am.theiostre.statusorder
Name: StatusOrder
Depends: mobilesubstrate
Version: 0.0.1-17
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: theiostream
Author: theiostream
Section: Tweaks
Installed-Size: 16
